/public_html/bitrix/cache
/public_html/bitrix/.settings.php
/public_html/bitrix/managed_cache/
/public_html/bitrix/stack_cache/
/public_html/bitrix/php_interface/dbconn.php
/public_html/bitrix/wizards/
/public_html/bitrix/backup/
/public_html/bitrix/html_pages/
/public_html/bitrix/activities/
/public_html/bitrix/admin/
/public_html/bitrix/blocks/
/public_html/bitrix/components/bitrix
/public_html/bitrix/css/
/public_html/bitrix/fonts/
/public_html/bitrix/gadgets/
/public_html/bitrix/image_uploader/
/public_html/bitrix/images/
/public_html/bitrix/js/
/public_html/bitrix/modules/
/public_html/bitrix/otp/
/public_html/bitrix/panel/
/public_html/bitrix/services/
/public_html/bitrix/sounds/
/public_html/bitrix/template/
/public_html/bitrix/themes/
/public_html/bitrix/tools/
/public_html/bitrix/tradingplatforms/
/public_html/bitrix/wizards/
/public_html/bitrix/updates/
/public_html/bitrix/tmp/
/public_html/bitrix/rk.php
/public_html/bitrix/click.php
/public_html/upload/resize_cache/
/public_html/upload/
/public_html/sitemap*.xml
/public_html/~*-sitemap*.xml
/public_html/robots.txt
/public_html/bitrix/catalog_export/
*.log
/public_html/bitrix/.settings.php
/public_html/bitrix/php_interface/dbconn.php
/public_html/local/php_interface/config_local.php
node_modules
yarn.lock
package-lock.json
robots.txt
/vendor

/products_exchange.lock
/1c_exchange
/public_html/.xml
/src/assets/scss/main.scss