// Img_url
$imgUrl: '/dist/img/';

// Breakpoints
$xl: 1400px;
$lg: 1024px;
$xs: 540px;

// Colors
$textColor: #333;

%center {
	position:relative;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
	@media (max-width:$lg) {
		max-width: 994px;
	}
	@media (max-width:$md) {
		padding: 0px 30px;
		max-width: 768px;
	}
	@media (max-width:$xs) {
		padding: 0px 20px;
		max-width: 320px;
	}
}

%stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}