// Img_url
$imgUrl: '/dist/img/';

// Breakpoints
$xl: 1400px;
$lg: 1024px;
$xs: 540px;

// Colors
$white: #FFFFFF;
$textColor: #333;
$green: #1E7243;
$lightGreen: #DEEDDD;
$darkGreen: #005827;
$border: #CAD4DB;
$jaundiced: #C9D200;
$gray1: #5B6168;
$gray2: #C8DAD0;
$error: #D23535;

$transition: all .3s;

%center {
	position:relative;
	max-width: 1430px;
	margin: 0 auto;
	padding: 0px 15px;
	@media (max-width:$lg) {
		max-width: 990px;
	}
	@media (max-width:$xs) {
		padding: 0px 20px;
		max-width: 580px;
	}
}

%stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}