.footer {
    background-color: #0f283e;
    position: relative;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 50px !important;
        padding-bottom: 58px !important;
        color: $white;
        @media (max-width: $lg) {
            justify-content: start;
            gap: 20px 0;
        }
        @media (max-width: $xs) {
            flex-direction: column;
            padding-top: 47px !important;
        }
    }
    &__column {
        @media (max-width: $lg) {
            margin-left: 64px;
        }
        @media (max-width: $xs) {
            display: none;
        }
        &_margin {
            margin-left: 45px;
            @media (max-width: $lg) {
                margin-left: 175px;
            }
        }
    }
    &__ul {
        margin-top: 5px;
        & li:not(:first-child) {
            margin-top: 14px;
        }
    }
    &__point {
        font-size: 18px;
        line-height: 22px;
        transition: $transition;
        &:hover {
            color: $jaundiced;
        }
    }
    &__title {
        font: {
            family: Rubik;
            weight: bold;
            size: 28px;
        }
        line-height: 50px;
        &_small {
            font-size: 24px;
            line-height: 24px;
            font-weight: normal;
        }
    }
    &__buttonUp {
        position: absolute;
        padding: 19px 21px;
        width: 60.22px;
        height: 62.85px;
        top: 20px;
        right: 0;
        background: $white;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            & svg {
                path {
                    stroke: $jaundiced;
                }
            }
        }
        & svg {
            display: block;
            path {
                transition: $transition;
                stroke: $textColor;
            }
        }
        @media (max-width: $lg) {
            right: 32px;
        }
        @media (max-width: $xs) {
            right: 20px;
        }
    }
    &__box {
        display: flex;

        @media (max-width: $lg) {
            width: 100%;
            justify-content: space-between;
        }
        @media (max-width: $xs) {
            flex-direction: column-reverse;
        }
    }
}
.footerIcons {
    &__logo {
        display: block;
        & svg {
            display: block;
        }
    }
    &__social {
        margin-top: 38px;
        & a:not(:first-child) {
            margin-left: 9px;
        }
        @media (max-width: $xs) {
            margin-top: 23px;
        }
    }
    &__socialSvg {
        & svg {
            display: block;
            fill: #0f283e;
            transition: $transition;
            &:hover {
                fill: $jaundiced;
            }
        }
        display: inline-block;
    }
}
.footerBuyers {
    margin-left: 20px;
    &__container {
        margin-top: 10px;
        & li:not(:first-child) {
            margin-top: 15px;
        }
    }
    &__links {
        font-size: 18px;
        line-height: 26px;
        transition: $transition;
        &:hover {
            color: $jaundiced;
        }
    }
}
.footerContacts {
    @media (max-width: $lg) {
        margin-left: 0;
        width: 100%;
    }
    @media (max-width: $xs) {
        display: block;
        margin-top: 30px;
    }
    &__box {
        @media (max-width: $lg) {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
        @media (max-width: $xs) {
            flex-direction: column;
            margin-top: 10px;
        }
    }
    &__telContainer {
        display: flex;
        align-items: center;
        margin-top: 7px;
        pointer-events: none;
    }
    &__telText {
        font: {
            family: Rubik;
            size: 20px;
        }
        line-height: 24px;
        margin-left: 10px;
    }
    &__telCenter {
        font-size: 14px;
        line-height: 20px;
        color: #abd2bc;
        margin-top: 7px;
        margin-left: 32px;
        @media (max-width: $lg) {
            width: 175px;
        }
    }
    &__email {
        pointer-events: none;
        display: flex;
        align-items: center;
        margin-top: 14px;
        @media (max-width: $lg) {
            margin-top: 0;
        }
        @media (max-width: $xs) {
            margin-top: 16px;
        }
    }
    &__emailText {
        margin-left: 10px;
        font-size: 18px;
        line-height: 30px;
    }
    &__address {
        margin-top: 19px;
        @media (max-width: $lg) {
            margin-top: 0;
        }
        @media (max-width: $xs) {
            margin-top: 16px;
        }
    }
    &__addressContainer {
        display: flex;
        align-items: center;
    }
    &__addressText {
        margin-left: 10px;
        font-size: 18px;
        line-height: 30px;
    }
    &__button {
        width: 230px;
        height: 55px;
        margin-top: 20px;
        &:hover {
            background: #b3bb00;
        }
    }
}
.footerSubscribe {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: $lg) {
        margin-top: 35px;
    }
    @media (max-width: $xs) {
        margin-top: 60px;
    }
    &__title {
        font: {
            family: Rubik;
            size: 24px;
        }
        line-height: 24px;
    }
    &__label {
        width: 340px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 17px;
    }
    &__form {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;
        border-bottom: 1px solid $white;
        width: 450px;
        height: 47px;
        @media (max-width: $xs) {
            width: 100%;
        }
    }

    &__input {
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        background-color: #0f283e;
        width: 418px;
        height: 30px;
        outline: none;
        border: none;
        @include placeholder(18px, #889097, "FiraSans", $opacity: 1);
    }
    &__button {
        & svg {
            display: block;
            path {
                fill: $white;
                transition: $transition;
            }
            &:hover {
                path {
                    fill: $jaundiced;
                }
            }
        }
    }
    &__error {
        display: flex;
        position: absolute;
        align-items: center;
        min-width: 414px;
        height: 69px;
        left: 110%;
        bottom: -10px;
        background: &white;
        border-radius: 5px;
        padding: 15px 13px 14px 19px;
        color: $textColor;
        &:after {
            content: "";
            position: absolute;
            left: -35px;
            border: 15px solid transparent;
            border-right: 32px solid $white;
        }
    }
    &__errorImg {
        padding: 4px 0;
        text-align: center;
        font-size: 24px;
        line-height: 22px;
        min-width: 30px;
        background: $jaundiced;
        border-radius: 5px;
    }
    &__errorText {
        margin-left: 11px;
        font-size: 14px;
        line-height: 20px;
    }
}
.footerAccept {
    margin-top: 27px;
    margin-left: 155px;

    @media (max-width: $lg) {
        margin-top: 35px;
        margin-left: 0;
    }
    @media (max-width: $xs) {
        margin-top: 25px;
        margin-left: 0;
    }
    &__title {
        font: {
            family: Rubik;
            size: 24px;
        }
        line-height: 24px;
    }
    &__cards {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 32px;
    }
    &__img {
        max-width: 100px;
        max-height: 100px;
    }
}
.footerEnd {
    margin-top: 30px;
    width: 330px;
    @media (max-width: $lg) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__logo {
        display: flex;
        align-items: flex-start;
        & span {
            margin-top: 9px;
            margin-left: 16px;
            font: {
                family: Montserrat;
                size: 15px;
            }
            line-height: 15px;
            border-bottom: 1px solid $white;
            transition: $transition;
            @media (max-width: $xs) {
                display: block;
                width: 77px;
                border: none;
                text-decoration: underline;
            }
        }
        &:hover {
            & span {
                border-bottom: none;
            }
        }
    }
    &__policy {
        margin-top: 47px;
        font: {
            family: Rubik;
            size: 14px;
        }
        line-height: 20px;
        @media (max-width: $lg) {
            margin-top: 0;
        }
    }
    &__policyLine {
        border-bottom: 1px solid #98a79f;
        transition: $transition;
        &:hover {
            border-bottom: none;
        }
    }
}
