.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_padding {
    padding-right: 17px;
  }
}
.headerTop {
  position: relative;
  padding: 10px 0;
  background-color: $green;
  color: $white;
  line-height: 12px;
  z-index: 100;
  font: {
    size: 16px;
    style: normal;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__menuLi {
    transition: $transition;
    &:not(:first-child) {
      margin-left: 25px;
    }
    &:hover {
      color: #c9d200;
    }
  }
  &__menuElse {
    display: none;
  }
  &__menuHide {
    display: flex;
    margin-left: 25px;
  }
  &__newspapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $transition;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 47%;
      width: 83%;
      height: 1px;
      margin-left: -30%;
      background: $white;
    }
    &:hover {
      color: #c9d200;
      &:after {
        background: $green;
      }
    }
  }
  &__text {
    margin-left: 6px;
  }
  &__icon {
    display: block;
  }
  &__telephone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    font: {
      family: Rubik;
      style: normal;
      weight: 500;
      size: 20px;
    }
    line-height: 15px;
  }
  &__enter {
    margin-left: 40px;
    display: flex;
    align-items: center;
    transition: $transition;
    &:hover {
      color: #c9d200;
    }
  }
  &__end {
    display: flex;
  }
}
.headerMiddle {
  position: relative;
  z-index: 100;
  background-color: $white;
  padding: 16px 0;
  border-bottom: 1px solid #c7d0d9;
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 866px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0 22px 0 29px;
  }
  &__logo {
    width: 252px;
    height: 39px;
  }
  &__catalog {
    display: flex;
    align-items: center;
    & span {
      font: {
        size: 18px;
        weight: 500;
      }
      line-height: 13px;
      color: $darkGreen;
    }
  }
  &__form {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 29px;
  }
  &__formContainer {
    position: relative;
    height: 50px;
  }
  &__input {
    height: 30px;
    outline: none;
    border: none;
    border-left: 1px solid #c6c9d7;
    min-width: 674px;
    padding-left: 21px;
    font-size: 18px;
    line-height: 13px;
    @include placeholder(18px, #9196a9, "FiraSans", $opacity: 1);
  }
  &__button {
    display: block;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__iconsBasket {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .iconSelected {
      margin-right: 13px;
    }
  }
}
.iconSelected {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  &__count {
    position: absolute;
    top: -10px;
    right: -7px;
    width: 20px;
    height: 20px;
    background: #c7d0d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: {
      weight: 500;
      size: 10px;
    }
    line-height: 7px;
    color: $textColor;
  }
  &__count_choice {
    background: $green;
    color: $lightGreen;
  }
  &__svg {
    display: block;
  }
  &__garbage {
    display: flex;
    flex-direction: column;
    span {
      &:first-child {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
        color: $textColor;
      }
      &:last-child {
        margin-top: 8px;
        font-size: 12px;
        line-height: 9px;
        color: #9196a9;
      }
    }
  }
}
.headerBottom {
  background-color: $white;
  padding: 19px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  z-index: 50;
  & li {
    position: relative;
  }
  &__link {
    font-size: 18px;
    line-height: 13px;
    color: $textColor;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -19px;
      right: 0;
      height: 4px;
      background: $green;
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
.headerCatalog {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 75;
  transition: top 0.5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 55px;
  background-color: $white;
  color: $textColor;
  &__go {
    top: 129px;
    transition: top 0.5s;
  }
  &__title {
    font: {
      family: Rubik;
      style: normal;
      weight: 900;
      size: 40px;
    }
    line-height: 50px;
  }
  &__categories {
    margin-top: 36px;
    display: grid;
    grid: {
      template-columns: 33% 37% 1fr;
      template-rows: 1fr 1fr;
      gap: 44px;
    }
  }
  &__item {
    display: flex;
  }
  &__img {
    width: 90px;
    height: 90px;
  }
  &__text {
    margin: 25px 0 0 30px;
  }
  &__textUl {
    margin-top: 13px;
    & li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__textLink {
    font: {
      family: Rubik;
      style: normal;
      size: 16px;
    }
    line-height: 19px;
    transition: $transition;
    &:hover {
      color: $green;
    }
  }
  &__itemTitle {
    font: {
      family: Rubik;
      style: normal;
      weight: bold;
      size: 24px;
    }
    line-height: 28px;
  }
}

.headerHelp {
  padding: 26px 0 34px 0;
  width: 716px;
  background-color: $white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  display: block;
  top: 100%;
  left: 30px;
  z-index: 100;
  transition: top 0.5s ease-in-out;
  background-color: $white;
  color: $textColor;

  &__item {
    display: flex;
    align-items: center;
    padding: 15px 36px 15px 41px;
    position: relative;
    transition: $transition;
    &:hover {
      background-color: #f0f0f0;
      position: relative;
      top: 0px;
      left: 0px;
      &:after {
        opacity: 0;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 36px;
      bottom: -1px;
      right: 41px;
      height: 1px;
      background: $border;
      opacity: 1;
    }
  }
  &__svg {
    display: block;
  }
  &__svgArrow {
    display: block;
    position: absolute;
    right: 41px;
  }
  &__text {
    margin-left: 20px;
    padding-right: 20px;  
    font: {
      family: Rubik;
      weight: 500;
      size: 16px;
    }
    line-height: 24px;
  }
  &__itemSale {
    display: flex;
    align-items: center;
    padding: 15px 36px 15px 41px;
    position: relative;
    transition: $transition;
    &:hover {
      background-color: #f0f0f0;
      position: relative;
      top: 0px;
      left: 0px;
      &:after {
        opacity: 0;
      }
    }
    &:after {
      z-index: 0;
      content: "";
      position: absolute;
      left: 36px;
      bottom: -1px;
      right: 41px;
      height: 1px;
      background: $border;
      opacity: 1;
    }
  }
  &__itemGroup {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .headerHelp__text {
      margin: 0;
    }
  }
  &__img {
    width: 54px;
    height: 47px;
  }
  &__category {
    margin-top: 4px;
    font-size: 14px;
    line-height: 10px;
    color: #8c949b;
  }
  &__price {
    display: flex;
    align-items: center;
    height: 24px;
  }
  &__priceSale {
    margin-left: 6px;
    font: {
      family: Rubik;
      weight: 500;
      size: 16px;
    }
    line-height: 24px;
  }
  &__priceNotsale {
    margin-left: 15px;
    color: #919eab;
    font: {
      family: Rubik;
      weight: 500;
      size: 16px;
    }
    line-height: 24px;
  }
  &__btn {
    margin: 30px 0 0 36px;
    width: 178px;
    height: 46px;
  }
}

.hamburger {
  padding-left: 7px;
  transition-duration: 0.15s;
  overflow: visible;
  position: relative;
  &__box {
    width: 20px;
    height: 12px;
    display: inline-block;
    position: relative;
  }
  &__inner {
    display: block;
  }
}
.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: $darkGreen;
}
.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 12px;
  height: 2px;
  background-color: $darkGreen;
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}
.hamburger__inner::before {
  width: 16px;
  top: -5px;
}
.hamburger__inner::after {
  width: 20px;
  top: 0px;
}
.hamburger__collapse .hamburger__inner {
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__collapse .hamburger__inner::after {
  top: -10px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger__collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__collapse.is-active .hamburger__inner {
  transform: translate3d(0, -2px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger__collapse.is-active .hamburger__inner::after {
  width: 16px;
  top: 0;
  opacity: 1;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger__collapse.is-active .hamburger__inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
