.basket {
  display: flex;
  color: $textColor;
  &__title {
    margin-top: 35px;
    font: {
      family: Rubik;
      style: normal;
      weight: 900;
      size: 56px;
    }
    line-height: 50px;
  }
  &__free {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #F2F3F4;
    & span {
      font: {
        family: Rubik;
        size: 16px;
      }
      line-height: 50px;
      text-transform: uppercase;
      margin-left: 9px;
    }
    & img{
        width: 31px;
        height: 25px;
    }
  }
}
