@import "../modules/utilities/_variables.scss";
@import "../modules/utilities/_mixins.scss";

.page_catalog {
    padding-bottom: 0;
}
.catalog {
    &__content {
        margin-top: 41px;
    }
    &__body {
        display: flex;
        margin-top: 30px;
        @media (max-width: $lg) {
            margin-top: 18px;
        }
    }
}
.catalogEvent {
    display: flex;
    align-items: flex-end;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1400px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    @media (max-width: $lg) {
        width: 960px;
        height: 240px;
    }
    @media (max-width: $lg) {
        display: none;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(32, 32, 32, 0.6);
        opacity: 0;
        pointer-events: none;
        transition: $transition;
        border-radius: 20px;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    &__box {
        padding: 32px 107px 38px 41px;
        background-color: #feb322;
        border-radius: 0 20px;
        color: $white;
        max-width: 600px;
        @media (max-width: $lg) {
            max-width: 487px;
            padding: 27px 34px 30px;
        }
    }
    &__title {
        font: {
            family: Rubik;
            weight: 500;
            size: 36px;
        }
        line-height: 42px;
        @media (max-width: $lg) {
            font-size: 30px;
            line-height: 38px;
        }
    }
    &__description {
        margin-top: 20px;
        font: {
            family: Rubik;
            size: 18px;
        }
        line-height: 24px;
        @media (max-width: $lg) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
.catalogInput__container {
    display: flex;
    align-items: center;

    & label {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}
.catalogCards {
    margin-left: 40px;
    width: 100%;
    &__filters {
        display: flex;
        align-items: center;
        @media (max-width: $xs) {
            justify-content: space-between;
        }
    }
    @media (max-width: $xs) {
        margin-left: 0;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 30px;
        column-gap: 19px;
        margin-top: 10px;
        @media (max-width: $lg) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $xs) {
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
    }
    &__filter {
        @media (max-width: $xs) {
            font-family: Rubik;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 11px;
            height: 52px;
            width: max-content;
            border-radius: 5px;
            border: 1px solid #cad4db;
            padding: 0 17px;
        }
    }
    &__categories,
    &__strainer,
    &__alpha {
        display: none;
        & svg {
            display: block;
            fill: $textColor;
            path {
                fill: $textColor;
            }
        }
        @media (max-width: $xs) {
            display: flex;
        }
    }
}
.catalogCardsPopular {
    position: relative;
    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        transition: $transition;

        & svg {
            display: block;
            margin-left: 6px;
            path {
                transition: $transition;
            }
            @media (max-width: $lg) {
                width: 20px;
                height: 15px;
            }
            @media (max-width: $xs) {
                margin: 0;
            }
        }
        &:hover {
            color: $green;
            & svg {
                path {
                    stroke: $green;
                }
            }
        }
    }
    &__linkText {
        font-size: 16px;
        line-height: 19px;
        @media (max-width: $lg) {
            font-size: 14px;
        }
        @media (max-width: $xs) {
            display: none;
        }
    }
    &__popup {
        z-index: 10;
        width: 255px;
        height: 152px;
        position: absolute;
        top: 29px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 26px;
        @media (max-width: $xs) {
            width: 540px;
            left: -400px;
            top: calc(100% + 24px);
            gap: 25px;
            height: max-content;
        }
    }
    &__item {
        display: flex;
        align-items: center;
    }
    & input[type="radio"] {
        margin: 0px;
        width: 25px;
        height: 25px;
        background-color: $green;
        position: relative;
    }
    & input[type="radio"]::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid $border;
    }
    & input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $green;
        transform: translate(-50%, -50%);
    }
    &__label {
        margin-left: 9px;
        font-size: 16px;
        line-height: 19px;
        @media (max-width: $xs) {
            font-size: 24px;
            line-height: 29px;
        }
    }
}
.catalogCardsAlphabet {
    margin-left: 22px;
    position: relative;
    @media (max-width: $xs) {
        margin: 0;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-left: 22px;
        position: relative;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        transition: $transition;
        @media (max-width: $lg) {
            font-size: 14px;
        }
        @media (max-width: $xs) {
            display: none;
        }
        & svg {
            margin-left: 6px;
            path {
                display: block;
                transition: $transition;
            }
        }
        &:hover {
            color: $green;
            & svg {
                path {
                    stroke: $green;
                }
            }
        }
    }

    &__popup {
        display: none;
        z-index: 10;
        width: 520px;
        height: 140px;
        position: absolute;
        top: 29px;
        left: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 25px;
        @media (max-width: $lg) {
            left: -100px;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -7px;
    }
    &__containerNext {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 364px;
        margin-left: -7px;
    }
    &__letter {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 24px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        transition: $transition;
        &:hover {
            color: $green;
        }
        &_checked {
            pointer-events: none;
            background: #deeddd;
            border-radius: 30px;
            pointer-events: none;
            &:hover {
                color: $textColor;
            }
        }
    }
    &__all {
        width: max-content;
        font-size: 16px;
        line-height: 27px;
        color: $green;
        transition: $transition;
        cursor: pointer;
        &:hover {
            color: $textColor;
        }
    }
    &__textChecked {
        color: $green;
        border-bottom: 1px dashed $green;
    }
}
.catalogCardsAlpha {
    height: 400px !important;
    overflow-y: scroll;
    .catalogInput__container {
        & span {
            font-size: 24px;
            line-height: 29px;
            margin-left: 15px;
        }
    }
}
.catalogMenuContainer {
    display: none;
    &__box {
        display: flex;
        align-items: center;
        & svg {
            display: block;
        }
    }
    &__mobile {
        @media (max-width: $xs) {
            display: block;
        }
        display: none;
        height: 100vh;
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: $white;
        right: 0;
        left: 0;
        .catalogMenuContainer__box {
            display: flex;
            align-items: center;
            gap: 33px;
            & svg {
                transform: rotate(90deg) scale(1.5);
            }
        }
        .catalogMenu__items {
            margin-top: 25px;
            padding: 0 20px;
            height: max-content !important;
            overflow: visible;
            display: flex;
            flex-direction: column;
            gap: 25px;
            input[type="checkbox"]:checked:before {
                width: 30px;
                height: 30px;
                top: -9px;
                left: -6px;
            }
            input[type="checkbox"]:before {
                width: 30px;
                height: 30px;
                top: -9px;
                left: -6px;
            }
            input[type="checkbox"]:checked:after {
                content: "";
                display: block;
                width: 8px;
                height: 18px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: -5px;
                left: 6px;
            }
        }
        .catalogMenu__titleMobile {
            margin: 0;
        }
        .catalogMenu__label {
            display: flex;
            align-items: center;
            & span {
                margin-left: 30px;
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}
.catalogMenu {
    width: 310px;
    color: $textColor;
    @media (max-width: $lg) {
        width: 280px;
    }
    @media (max-width: $xs) {
        display: none;
        width: 540px;
        height: 100%;
    }
    &__titleMobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-left: -20px;
        padding: 0 20px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        height: 80px;
        width: 540px;
        border-bottom: 1px solid #c7d0d9;
        @media (max-width: $xs) {
            display: flex;
        }
    }
    &_mobile {
        padding: 0 20px;
        position: fixed;
        background-color: $white;
        z-index: 500;
        top: 0;
        left: 0;
        .catalogMenu__box {
            display: none;
        }
        & form {
            width: 100%;
        }
        .catalogMenuPrice {
            padding: 0;
            margin-top: 17px;
        }
        .catalogMenu__title {
            font-size: 24px;
            line-height: 42px;
            font-weight: normal;
        }
        .catalogMenuPrice__inputs {
            & span {
                width: 60px;
            }
        }
        .catalogMenuPrice__input {
            width: 190px;
            height: 55px;
            border-radius: 5px;
            font-family: Firasans;
            font-size: 24px;
            line-height: 29px;
        }
        @media (max-width: $xs) {
            display: flex;
        }
    }
    &__title {
        font: {
            family: Rubik;
            weight: 500;
            size: 20px;
        }
        line-height: 42px;
        @media (max-width: $lg) {
            font-size: 18px;
        }
    }
    &__box {
        padding-bottom: 23px;
        border-bottom: 1px solid $border;
    }
    &__links {
        transition: $transition;
        & li:not(:first-child) {
            margin-top: 12px;
            @media (max-width: $lg) {
                margin-top: 10px;
            }
        }
        max-height: 500px;
        overflow: hidden;
        &_open {
            height: auto;
            max-height: 1000px;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 24px;
        color: $gray1;
        transition: $transition;
        &:hover {
            color: $green;
        }
        &_checked {
            color: $darkGreen;
            font-weight: 500;
        }
        @media (max-width: $lg) {
            font-size: 16px;
        }
    }
    &__show {
        margin-top: 12px;
        font-size: 18px;
        line-height: 24px;
        color: $textColor;
        cursor: pointer;
        transition: $transition;
        width: max-content;
        @media (max-width: $lg) {
            font-size: 16px;
        }
        & span {
            margin: 0;
        }
        & svg {
            path {
                display: block;
                stroke: $green;
            }
        }
        &:hover {
            color: $green;
        }
        &_small {
            font-size: 14px;
            line-height: 32px;
            margin: 0;
        }
    }
    &__down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover {
        }
        & svg {
            path {
                display: block;
                stroke: $green;
            }
        }
    }
    &__container {
        overflow: hidden;
        max-height: 0;
        transition: $transition;
        &_open {
            height: auto;
            max-height: 1000px;
        }
    }
    &__check {
    }
    &__label {
        cursor: pointer;
        display: inline-block;
        & span {
            margin-left: 9px;
            font-size: 14px;
            line-height: 32px;
        }
    }
    &__items {
        width: 99%;
        max-height: 162px;
        overflow: hidden;
        transition: $transition;

        padding-left: 1px;
        &_big {
            max-height: 324px;
            overflow: scroll;
            overflow-x: hidden;
        }

        & input[type="checkbox"] {
            position: relative;
            cursor: pointer;
        }
        & input[type="checkbox"]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0px;
            left: 0px;
            background-color: $white;
            border: 1px solid $border;
            border-radius: 2px;
        }
        & input[type="checkbox"]:checked:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0px;
            left: 0px;
            background-color: $green;
            border-radius: 2px;
            border: 1px solid $green;
        }
        & input[type="checkbox"]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 1px;
            left: 6px;
        }

        & input[type="radio"] {
            margin: 0;
            cursor: pointer;
            width: 16px;
            height: 16px;
            background-color: $green;
            position: relative;
        }
        & input[type="radio"]::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid $border;
        }
        & input[type="radio"]:checked::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $green;
            transform: translate(-50%, -50%);
        }
        & input[type="radio"]:checked::before {
            border: 1px solid $green;
        }
    }

    &__sort,
    &__stock,
    &__color {
        padding: 10px 0;
        border-bottom: 1px solid $border;
        @media (max-width: $xs) {
            padding: 15px 0;
            & svg {
                transform: rotate(270deg) scale(1.5);
                path {
                    stroke: #c7d0d9;
                }
            }
        }
    }

    &__new {
        padding: 10px 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $xs) {
            padding: 15px 0;
            border-bottom: 1px solid $border;
        }
    }
    &__discount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $xs) {
            padding: 15px 0;
            border-bottom: 1px solid $border;
        }
    }

    &__switch {
        position: relative;
        display: inline-block;
        width: 39px;
        height: 20px;
        @media (max-width: $xs) {
            width: 69px;
            height: 36px;
        }
        & input {
            display: none;
        }
        & input:checked + .catalogMenu__sliding {
            background-color: $green;
        }

        & input:focus + .catalogMenu__sliding {
            box-shadow: 0 0 1px $green;
        }

        & input:checked + .catalogMenu__sliding:before {
            -webkit-transform: translateX(17px);
            -ms-transform: translateX(17px);
            transform: translateX(17px);
            @media (max-width: $xs) {
                transform: translateX(32px);
            }
        }
    }
    &__sliding {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c7d0d9;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;
        &::before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
            @media (max-width: $xs) {
                width: 28px;
                height: 28px;
                bottom: 4px;
            }
        }
    }
    &__buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $xs) {
            width: 540px;
            position: fixed;
            padding: 10px 20px;
            bottom: 0;
            margin-left: -20px;
            box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
            z-index: 5;
        }
    }
    &__buttonResset,
    &__buttonApply {
        width: 150px;
        height: 52px;
        margin: 0;
        font: {
            family: Rubik;
            size: 16px;
        }
        line-height: 19px;
        border-radius: 10px;
        &:hover {
            border: 1px solid $green;
        }
        @media (max-width: $lg) {
            width: 135px;
            height: 50px;
        }
        @media (max-width: $xs) {
            width: 243px;
            height: 60px;
            border-radius: 5px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__buttonApply {
        margin-left: 10px;

        @media (max-width: $lg) {
            margin-left: 10px;
        }
    }
}
.catalogMenuPrice {
    padding: 10px 0;
    border-bottom: 1px solid $border;

    &__min,
    &__max {
        @media (max-width: $xs) {
            font-size: 24px;
            line-height: 35px;
        }
        & span {
            font-family: "Roboto";
            font-size: 14px;
            @media (max-width: $xs) {
                font-size: 22px;
                line-height: 35px;
            }
        }
    }

    &__slider {
        margin-top: 7px;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            width: 17px;
            height: 0px;
            border: 1px solid #cad4db;
        }
    }
    &__input {
        padding: 5px 16px;
        width: 131px;
        height: 45px;
        border: 1px solid #cad4db;
        box-sizing: border-box;
        border-radius: 10px;
        font: {
            family: Rubik;
            size: 14px;
        }
        transition: $transition;
        line-height: 35px;
        cursor: pointer;
        &:hover {
            border: 1px solid $green;
        }
        @media (max-width: $lg) {
            width: 120px;
        }
    }
    &__values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        line-height: 35px;
        margin-top: 5px;
        @media (max-width: $xs) {
            margin-top: 21px;
            padding-bottom: 26px;
        }
    }
}

#slider {
    margin-top: 20px;
    width: calc(100%);
    @media (max-width: $lg) {
    }
    @media (max-width: $xs) {
        margin-top: 30px;
    }
}
.noUi-target {
    background-color: $gray2;
    border: none;
    box-shadow: none;
    height: 4px;
    @media (max-width: $xs) {
        height: 8px;
    }
}

.noUi-connect {
    background-color: $green;
}
.noUi-handle::after,
.noUi-handle::before {
    display: none;
}
.noUi-base {
    width: 97%;
    @media (max-width: $xs) {
        width: 95%;
    }
}
.noUi-horizontal {
    .noUi-handle {
        cursor: pointer;
        width: 12px;
        height: 12px;
        top: -4px;
        right: -10px;
        @media (max-width: $xs) {
            width: 30px;
            height: 30px;
            top: -11px;
            left: 45px;
        }
    }
}
.noUi-handle {
    box-shadow: none;
    background: #ffffff;
    border: 2px solid $green;
    box-sizing: border-box;
    border-radius: 50%;
    @media (max-width: $xs) {
        border: 5px solid $green;
    }
}
