@import "../modules/utilities/_variables.scss";
.detail{
  &__productBox{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 87px;
  }
}
.productBox{
  &__hit{

  }
  &__additional{

  }
  &__similar{

  }
}
.productCard {
  display: flex;
  justify-content: space-between;
  &__checked {
    pointer-events: none;
    border: 3px solid $green !important;
    &_small {
      border: 2px solid $green !important;
    }
  }
  &__slider {
  }
  &__button {
    width: 160px;
    height: 46px;
  }
  &__like {
    margin-left: 15px;
  }
  &__prev {
    position: absolute;
    top: 115%;
    cursor: pointer;
    & svg {
      path {
        transition: $transition;
        display: block;
      }
    }
    &:hover {
      svg {
        path {
          stroke: $textColor;
        }
      }
    }
  }
  &__next {
    position: absolute;
    top: 115%;
    left: 55px;
    cursor: pointer;
    & svg {
      path {
        transition: $transition;
        display: block;
      }
    }
    &:hover {
      svg {
        path {
          stroke: $textColor;
        }
      }
    }
  }
  &__image {
    width: 690px;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &_small {
      cursor: pointer;
      max-width: 112px;
      height: 112px;
      border-radius: 20px;
      margin: 0 2px;
      border: 3px solid $white;
    }
  }
  &__box {
    width: 690px;
    margin-top: 11px;
    position: relative;
  }
  &__info {
    margin-left: 60px;
  }
  &__article {
    font-size: 14px;
    line-height: 28px;
    color: #919eab;
  }
  &__title {
    font-family: Rubik;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
  }

  &__review {
    margin-top: 15px;
  }
  &__season {
    display: flex;
    align-content: center;
    margin-top: 20px;

    & svg {
      path {
        display: block;
      }
    }
  }
  &__seasonText {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    & span {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__cost {
    display: inline-flex;
    gap: 65px;
    .cost__totalPrice,
    .cost__ruble {
      margin-left: 10px;
      font-weight: 500;
      font-size: 35px;
      line-height: 24px;
      &_ussual {
        margin: 0;
      }
    }
    .cost__price {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }
    .cost__right {
      margin-left: 20px;
    }
  }
  &__bottom {
    justify-content: start;
    gap: 65px;
    margin-top: 28px;
    .counter {
      width: 142px;
      height: 46px;
      &__minus,
      &__plus {
        width: 46px;
      }
      &__input {
        width: 52px;
      }
    }
  }
  &__weight {
    margin-top: 25px;
  }

  &__colors {
    margin-top: 30px;
  }
  &__method {
    margin-top: 41px;
    border-top: 1px solid #dbe4ec;
    padding-top: 30px;
  }
}

.weight {
  &__text {
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  &__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    transition: $transition;
    &:hover {
      border: 1px solid #1e7243;
    }
  }
}

.colors {
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    & span {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__box {
    display: flex;
    gap: 8px;
    margin-top: 15px;
  }
  &__item {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    &_big {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.productMethod {
  &__title {
    font-family: Rubik;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }

  &__container {
    display: flex;
    gap: 92px;
  }
  &__item {
    display: flex;
    margin-top: 18px;
  }
  &__text {
    margin-left: 13px;
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
    & span {
      font-family: Rubik;
      font-size: 14px;
      line-height: 17px;
      color: #5b6168;
    }
  }
}

.productTabs {
  margin-top: 40px;
  &__head {
    display: flex;
    gap: 35px;
    border-bottom: 1px solid #919eab;
  }
  &__main{
    margin-top: 30px;
  }
  &__title {
    cursor: pointer;
    font-family: Rubik;
    font-weight: 500;
    font-size: 28px;
    line-height: 70px;
    color: #919eab;
    position: relative;
    transition: $transition;
    border-bottom: 4px solid $white;
    &_checked {
      pointer-events: none;
      color: $textColor;
      border-bottom: 4px solid $green;
    }
    &:hover {
      color: $textColor;
      border-bottom: 4px solid $green;
    }
  }
  &__name {
    font-family: Rubik;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
  }
  &__body {
    display: flex;
    margin-top: 32px;
    &_margin {
      margin: 0;
    }
  }
  &__columnLeft {
    width: 50%;
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    &_margin {
      margin-left: 17px;
    }
    &_lh {
      line-height: 26px;
    }
    &_span {
      font-size: 14px;
      line-height: 17px;
      color: #919eab;
    }
  }
  &__pdf {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    & span {
      font-size: 14px;
      line-height: 17px;
      color: #919eab;
    }
  }
  &__textUl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_margin {
      margin-top: 20px;
    }
  }
  &__textLi {
    display: flex;
    justify-content: space-between;
    &_color {
      color: #5b6168;
      & span {
        color: $textColor;
      }
    }
  }
  &__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-top: 25px;
  }
  &__columnRight {
    padding-left: 70px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    width: 50%;
    height: 80%;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 257px;
  }
  &__svg {
    path {
    }
  }
  &__points {
    flex: 1 0;
    border-bottom: 1px dotted $border;
    height: 20px;
    margin: 0 0.4em;
  }
  &__availability {
    font-size: 16px;
    line-height: 12px;
  }
}

.productReviews {
  &__item {
    margin-left: 14px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    color: $textColor;
    &_margin {
      margin-top: 13px;
    }
    &_gray {
      font-size: 14px;
      line-height: 22px;
      color: #5e758c;
      margin-top: 15px;
    }
    &_bold {
      font-weight: 500;
    }
    &_small {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__columnLeft {
    width: 290px;
  }
  &__value {
    font-family: Rubik;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  &__stars {
    flex-direction: column;
    border-bottom: 1px solid $border;
    padding-bottom: 23px;
  }
  &__btn {
    font-family: Rubik;
    font-size: 16px;
    line-height: 21px;
    margin-top: 25px;
    width: 290px;
    height: 56px;
    cursor: pointer;
  }

  &__columnRight {
    margin-left: 65px;
    width: 966px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__description {
    font-family: Rubik;
    font-size: 20px;
    line-height: 28px;
  }
  &__evaluations {
    margin-top: 25px;
  }
  &__agreement {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .productReviews__text{
      margin-left: 10px;
    }
    .review__item{
      margin-left: 5px;
    }
    .productReviews__band{
margin-left: 15px;

    }
    &_d{

    }
    &_e{

    }
  }

  &__band {
    display: flex;
    min-width: 190px;
    height: 6px;
    border-radius: 4px;
    background: #cad4db;
    position: relative;
    &_green {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
     
      height: 6px;
      background: $green;
      border-radius: 4px;
    }
  }
  &__label {
    .check {
      width: 16px;
      height: 16px;
      background: {
        image: url($imgUrl + "svg/checkAgreementSmall.svg");
        repeat: no-repeat;
        position: center;
      }
    }
  }
  &__box {
    border-bottom: 1px solid #cad4db;
    padding-bottom: 50px;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__letter {
    width: 70px;
    height: 70px;
    border: 1px solid $border;
    font-family: Futura PT;
    border-radius: 50%;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e7243;
  }
  &__name {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    & span {
      font-family: FiraSans;
      font-size: 14px;
      line-height: 18px;
      color: #919eab;
    }
    margin-left: 15px;
  }

  &__title {
    margin-top: 16px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  &__buttons {
    margin-top: 10px;
    display: flex;
    gap: 6px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 36px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid $gray2;
    transition: $transition;
    &:hover {
      background: #c8dad0;
    }
  }
  &__link {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $green;
  }
}
