@import "../modules/utilities/_variables.scss";
.lk {
    display: flex;
    justify-content: space-between;
    &__content {
        width: calc(100% - 355px);
    }
}
.pageLk {
    display: flex;
    &__aside {
    }
    &__form {
        .envelopeInput {
            margin-bottom: 20px;
        }
        .envelopeInput__input {
            width: 450px;
            height: 50px;
        }
    }
}
.lkMenu {
    width: 306px;
}
.lkProfile {
    padding-left: 49px;
    &__header {
    }
    &__subtitle {
        margin-top: 35px;
        font-family: Rubik;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
    }
    &__fields {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__birthday {
    }
    &__message {
        display: flex;
        align-items: center;
        width: 450px;
        height: 85px;
        background: #f2f3f4;
        border-radius: 5px;
        border-left: 6px solid $jaundiced;
        padding: 15px 64px 16px 21px;
        font-size: 12px;
        line-height: 18px;
        position: relative;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 13px;
        svg {
            path {
                display: block;
            }
        }
    }

    &__delivery {
    }
    &__choice {
        margin-top: 26px;
    }
    &__address {
        margin-top: 20px;
    }
    &__home {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__liAddress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 76px;
        border-bottom: 1px solid #c7d0d9;
        & span {
            font-size: 16px;
            line-height: 19px;
            margin-left: 9px;
        }
        & label {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        & input[type="radio"] {
            cursor: pointer;
            margin: 0px;
            width: 25px;
            height: 25px;
            background-color: $green;
            position: relative;
        }
        & input[type="radio"]::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid $border;
        }
        & input[type="radio"]:checked::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: $green;
            transform: translate(-50%, -50%);
        }
    }
    &__delete {
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        color: #919eab;
        border-bottom: 1px solid #c7d0d9;
        transition: $transition;
        &:hover {
            color: $textColor;
        }
    }
    &__add {
        display: inline-flex;
        cursor: pointer;
        margin-top: 21px;
        align-items: center;
        transition: $transition;
        & span {
            font-size: 18px;
            line-height: 22px;
        }
        & svg {
            path {
                display: block;
            }
        }
        &:hover {
            & span {
                color: $green;
            }
        }
    }
    &__addressMap {
        display: flex;
    }
    &__showMap {
        cursor: pointer;
        margin-left: 30px;
        display: flex;
        align-items: center;
        & span {
            margin-left: 10px;
            font-family: Rubik;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
        }
        & svg {
            path {
                display: block;
            }
        }
    }
    &__saveContainer {
        display: flex;
        align-items: center;
        & span {
            margin-left: 28px;
        }
    }
    &__input {
        position: relative;
    
        & input {
            cursor: pointer;
        }
        & svg {
            position: absolute;
            right: 22px;
            bottom: 20px;
            path {
                stroke: $green;
            }
        }
        &_open {
            & svg {
                transform: rotate(180deg);
            }
            .lkProfile__shops {
                display: block;
            }
        }
    }
    &__shops {
        display: none;
        position: absolute;
        width: 450px;
        top: 100%;
        right: 0;
        background: $white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 5px 5px;
        z-index: 0;

    }
    &__shopsLi {
        font-size: 16px;
        line-height: 44px;
        cursor: pointer;
        color: $textColor;
        position: relative;
        padding: 0 30px;
        transition: $transition;
        &:hover {
            background-color: #f2f3f4;
        }
    }
    &__password {
    }
    &__container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        cursor: pointer;
        width: 250px;
        height: 55px;
        font-family: Rubik;
        font-size: 18px;
        line-height: 23px;
        margin-top: 20px;
        &_margin {
            margin: 0;
            background: $border;
            color: $textColor;
        }
    }
}
.choiceBtn {
    width: 450px;
    height: 55px;
    background: #f2f3f4;
    mix-blend-mode: normal;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &__courier {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 221px;
        height: 49px;
        background: #f2f3f4;
        border-radius: 50px;
        transition: $transition;
        &:hover {
            background: $jaundiced;
        }
        &_checked {
            background: $jaundiced;
        }
    }
}
