@import "../modules/utilities/_variables.scss";
.lk {
    display: flex;
    justify-content: space-between;
    @media (max-width: $lg) {
        gap: 49px;
        justify-content: flex-start;
    }
    &__content {
        width: calc(100% - 355px);
        @media (max-width: $lg) {
            width: calc(100% - 329px);
        }
        @media (max-width: $xs) {
            width: 100%;
        }
    }
}
.pageLk {
    display: flex;
    &__aside {
    }
    &__form {
    }
}
.lkMenu {
    width: 306px;
}
.lkProfile {
    padding-left: 49px;
    @media (max-width: $lg) {
        padding: 0;
    }
    &__header {
    }
    &__subtitle {
        margin-top: 35px;
        font-family: Rubik;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        @media (max-width: $lg) {
            margin-top: 31px;
            font-size: 28px;
            line-height: 33px;
        }
        @media (max-width: $xs) {
            margin-top: 20px;
            font-size: 26px;
            line-height: 31px;
        }
    }
    &__fields {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $lg) {
            margin-top: 20px;
        }
        @media (max-width: $xs) {
            margin-top: 15px;
            display: block;
            width: 100%;
        }
    }
    &__birthday {
    }
    &__message {
        display: flex;
        align-items: center;
        width: 450px;

        background: #f2f3f4;
        border-radius: 5px;
        border-left: 6px solid $jaundiced;
        padding: 15px 64px 16px 21px;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        @media (max-width: $lg) {
            width: 300px;
        }
        @media (max-width: $xs) {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 13px;
        svg {
            path {
                display: block;
                transition: $transition;
            }
        }
        &:hover {
            & svg {
                path {
                    fill: $textColor;
                }
            }
        }
    }

    &__delivery {
        margin-top: 68px;
        @media (max-width: $lg) {
            margin-top: 51px;
        }
    }
    &__choice {
        margin-top: 26px;
        @media (max-width: $xs) {
            margin-top: 20px;
        }
    }
    &__address {
    }
    &__home {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 32px;
        @media (max-width: $xs) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__liAddress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 76px;
        border-bottom: 1px solid #c7d0d9;
        @media (max-width: $xs) {
            & span {
                font-size: 20px;
                line-height: 24px;
            }
            flex-direction: column;
            height: 102px;
            align-items: flex-start;
            gap: 9px;
            justify-content: center;
        }
        & span {
            font-size: 16px;
            line-height: 19px;
            margin-left: 9px;
        }
        & label {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        & input[type="radio"] {
            cursor: pointer;
            margin: 0px;
            width: 25px;
            height: 25px;
            background-color: $green;
            position: relative;
        }
        & input[type="radio"]::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid $border;
        }
        & input[type="radio"]:checked::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: $green;
            transform: translate(-50%, -50%);
        }
    }

    &__delete {
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        color: #919eab;
        border-bottom: 1px solid #c7d0d9;
        transition: $transition;
        &:hover {
            color: $textColor;
        }
        @media (max-width: $xs) {
            font-size: 18px;
            line-height: 22px;
            margin-left: 35px;
        }
    }
    &__add {
        display: inline-flex;
        cursor: pointer;
        margin-top: 21px;
        align-items: center;
        position: relative;
        left: -10px;
        transition: $transition;
        & span {
            font-size: 18px;
            line-height: 22px;
            @media (max-width: $xs) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        & svg {
            path {
                display: block;
            }
        }
        &:hover {
            & span {
                color: $green;
            }
        }
    }
    &__addressMap {
        display: flex;
        margin-top: 33px;
    }
    &__showMap {
        cursor: pointer;
        margin-left: 30px;
        display: flex;
        align-items: center;
        & span {
            margin-left: 10px;
            font-family: Rubik;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
        }
        & svg {
            path {
                display: block;
            }
        }
    }
    &__saveContainer {
        display: flex;
        align-items: center;
        margin-top: 11px;
        & span {
            margin-left: 28px;
            cursor: pointer;
            transition: $transition;
            &:hover {
                color: $green;
            }
        }
    }
    &__input {
        position: relative;

        & input {
            cursor: pointer;
            padding-right: 48px;
        }
        & svg {
            cursor: pointer;
            position: absolute;
            right: 22px;
            bottom: 20px;
            path {
                display: block;
                stroke: $green;
            }
        }
        &_open {
            & svg {
                transform: rotate(180deg);
            }
            .lkProfile__shops {
                display: block;
            }
        }
    }
    &__shops {
        display: none;
        position: absolute;
        width: 450px;
        top: 100%;
        right: 0;
        background: $white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 5px 5px;
        z-index: 0;
        @media (max-width: $lg) {
            width: 300px;
        }
    }
    &__shopsLi {
        font-size: 16px;
        line-height: 44px;
        cursor: pointer;
        color: $textColor;
        position: relative;
        padding: 0 30px;
        transition: $transition;
        &:hover {
            background-color: #f2f3f4;
        }
    }
    &__password {
        margin-top: 60px;
        @media (max-width: $xs) {
            margin-top: 55px;
        }
    }
    &__container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $xs) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__btn {
        cursor: pointer;
        width: 250px;
        height: 55px;
        font-family: Rubik;
        font-size: 18px;
        line-height: 23px;
        margin-top: 20px;
        &:hover {
            color: $white;
        }
        &_margin {
            margin: 0;
        }
        @media (max-width: $xs) {
            margin: 0;
        }
    }
}
