@import "../modules/utilities/_variables.scss";

.masterClass {
  // .masterClass__header

  &__header {
    margin-top: 28px;
    display: flex;
    align-items: center;
  }

  &__choice {
    width: 376px;
    height: 55px;
  }
  // .masterClass__archive

  &__archive {
    margin-left: 42px;
    display: flex;
    align-items: center;
    & svg {
      path {
        display: block;
      }
    }
  }

  &__archiveText {
    margin-left: 10px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    line-height: 13px;
    & span {
      color: $green;
      cursor: pointer;
      border-bottom: 2px dashed $green;
    }
  }

  &__container {
    margin-top: 37px;
  }

  &__card {
    display: flex;
  }

  &__footer {
  }

  &__title {
    // .masterClass__title_small

    &_small {
    }
  }

  // .masterClass__slider

  &__slider {
  }
}

.masterClassCard {
  // .masterClassCard__columnLeft

  &__columnLeft {
  }

  // .masterClassCard__share

  &__share {
    margin-top: 30px;
    display: flex;
    align-items: center;
    & span {
      font-family: Rubik;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    width: 528px;
    height: 370px;
  }
  &__link {
    margin-left: 12px;
    & svg {
      path {
        display: block;
      }
    }
  }
  &__columnRight {
    margin-left: 60px;
  }
  &__header {
    display: flex;
    align-items: flex-start;
  }
  &__date {
    display: flex;
    align-items: center;
    font-family: Rubik;
    font-weight: bold;
    font-size: 64px;
    line-height: 47px;
    color: $green;
    & span {
      margin-left: 17px;
      font-family: Firasans;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: $textColor;
    }
  }
  &__title {
    margin-left: 40px;
    font-family: Rubik;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
  }
  &__body {
    margin-top: 25px;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
  }

  // .masterClassCard__readAll

  &__readAll {
    // .masterClassCard__readAll_js

    &_js {
    }
  }

  // .masterClassCard__footer

  &__footer {
  }

  // .masterClassCard__row

  &__row {
  }

  // .masterClassCard__description

  &__description {
  }

  // .masterClassCard__value

  &__value {
  }

  // .masterClassCard__btn

  &__btn {
  }
}
