@import "../modules/utilities/_variables.scss";
.news {
    &__header {
    }

    &__body {
        margin-top: 45px;
    }

    &__container {
    }

    &__card {
    }
}
.newsHeader {
    &__container {
        margin-top: 35px;
        display: flex;
        gap: 40px;
        border-bottom: 1px solid #88bd9f;
    }

    &__item {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 42px;
        border-bottom: 4px solid white;
        transition: $transition;
        cursor: pointer;
        &_checked {
            border-bottom: 4px solid $green;
            pointer-events: none;
        }
        &:hover {
            border-bottom: 4px solid $green;
        }
    }
}
