@import "../modules/utilities/_variables.scss";

.promotions {
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
    gap: 43px 20px;
  }
  &__item {
    width: 690px;
  }
  &__image {
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    & img {
      display: block;
      width: 100%;
    }
  }
  &__date {
    margin-top: 29px;
    display: flex;
    align-items: center;
    & svg {
      display: block;
    }
    & span {
      margin-left: 7px;
      font-family: Rubik;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $green;
    }
  }
  &__title {
    margin-top: 22px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    transition: $transition;
    &:hover {
      color: $green;
    }
  }
  &__description {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    &_ruble {
      font-family: Roboto;
    }
  }
}
