// Reset styles
@import "base/_reset.scss";

// Variables
@import "utilities/_variables.scss";

// functions
@import "utilities/_functions.scss";

// mixins
@import "utilities/_mixins.scss";

// Fonts
@import "base/_fonts.scss";

// General styles
@import "base/_general.scss";
