body {
    font: {
		family: "Firasans";
		weight: 400;
	}
	color: $textColor;
}
.main {
    padding-top: 210px;
	padding-bottom: 88px;
}
.container {
    @extend %center;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	line-height: 24px;
	color: $white;
	font-family: 'Rubik';
	background: $green;
	border-radius: 10px;
	transition: $transition;
	&:hover {
		background: $darkGreen;
	}
}